input {
  width: 100%;
  padding: 0.5rem;
}

.input-box{
  padding: 20px;
  max-width: 435px;
  width: 100%;
  position:absolute;
  bottom: -50px;
  right: 0px;
  /* display: flex; */
}
/* 
.container{
    position: relative;
} */