.outer {
  margin-top: 2rem;
  padding-left: 2rem;
}
.letter {
  font-size: 5rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  text-shadow: 4px 4px black;
}
@media screen and (max-width: 991px) {
  .outer {
    margin-top: 1rem;
  }
  .letter {
    font-size: clamp(1rem, 10vw, 4rem);
  }
}
