.App {
  text-align: center;
  background-color:#242d41;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 60px;
}

.NavColor {
  background-color: #4051b5;
  text-align: center;
}

.textColor {
  color: rgb(15, 15, 1);
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 30px;
}

.textColor:hover {
  color: rgb(72, 72, 69);
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.AppMid {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Buttons {
  /* margin: 0; */
  position: absolute;
  width: 500px;
  height: 70px;
  top: 70%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: space-between;
}

.Join {
  color: wheat;
  background-color: rgb(67, 142, 66);
  border-radius: 15px;
  font-weight: 700;
  width: 10rem;
  margin-left: 20px;
}

.Create {
  color: wheat;
  background-color: rgb(178, 59, 85);
  padding: 12px;
  border-radius: 15px;
  font-weight: 700;
  width: 10rem;
  margin-right: 20px;
}

.bt:hover {
  background-color: #4051b5;
  color: #282c34;
  font-size: 20px;
  /* font-weight: bolder; */
}

.bt a {
  text-decoration: none;
  color: wheat;
}

.bt:hover a {
  color: #282c34;
}

/* modal Stuuff */

.mymodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2e363e;
  padding: 1rem, 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.mtext {
  text-align: center;
  padding-top: 5%;
  padding-left: 2%;
  color: wheat;
}

.formR {
  /* padding-top: 2%; */
  text-align: center;
  /* padding-right: 7%; */
  transform: scale(1.2);
  margin: 9%;
}

.inTput {
  background-color: lightgrey;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: black;
}

.buttonJoin {
  text-align: center;
  padding-bottom: 2%;
  padding-right: 5%;
}

.close-button {
  color: wheat;
}

.close-button:hover {
  border-radius: 2px;
  font-size: 25px;
  color: rgb(178, 59, 85);
}

.joinbutton {
  text-align: center;
  padding-right: 6%;
  padding-bottom: 2%;
  transform: scale(1.1);
}

.join-Button {
  background-color: rgb(178, 59, 85);
  border-radius: 10px;
  padding: 4px;
  font-size: large;
  width: 4rem;
  color: wheat;
  border-radius: 10px;
  padding: 4px;
}

.join-Button:hover {
  color: black;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.CloseBT {
  float: right;
  border-color: transparent;
  background-color: lightgray;
  margin-top: 5px;
  margin-right: 2px;
  color: white;
}

.CloseBT:hover {
  border-radius: 2px;
  border-color: lightgrey;
  font-size: 30px;
}
