.content {
    display: flex;
    min-height: calc(100% - 60px);
  }
  
 .ldbtn {
     margin-left:20px;
     background-color: rgb(183, 55, 119);
     color: wheat;
     height: 50px;
     padding : 5px;
     width: 9.3rem;
     border-radius: 15px;
     transform : scale(1.05);
     font-family: monospace;
 } 
 
 .ldbtn:hover
 {
    font-size: 18px;
 }
  /* Video-container */
.video-container {
    flex: 2.8;
    padding: 30px;
}

.search-form {
  display: flex;
  margin: 15px auto;
  max-width: 1000px;
  width: 100%;
  background-color: black;
}
  
.video-container .search-form input {
    max-width: 1000px;
    width: 100%;
    padding: 5px;
    height: 50px;
    border-radius: 15px;
    font-family:monospace;
    background-color: lightgrey;
}
  
.video-container #player {
   height: 620px;
   display: flex;
   margin: 15px auto;
   max-width: 1000px;
   width: 100%;
}
  
  /* Sidebar */
.sidebar {
    flex: 1.3;
    border-left: 2px solid black;
}
  
